<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CompareDocuments</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.CompareDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexDocument</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.apis.IndexDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSimilarity</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.apis.CheckSimilarity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareDocument</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.apis.CompareDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usersgeneral</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.apis.Usersgeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admingeneral</servlet-name>
        <servlet-class>org.avcnu.plagiarism.servlets.apis.Admingeneral</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompareDocuments</servlet-name>
        <url-pattern>/CompareDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexDocument</servlet-name>
        <url-pattern>/IndexDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSimilarity</servlet-name>
        <url-pattern>/CheckSimilarity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareDocument</servlet-name>
        <url-pattern>/CompareDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usersgeneral</servlet-name>
        <url-pattern>/Usersgeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admingeneral</servlet-name>
        <url-pattern>/Admingeneral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
